*{
	margin: 0px;
	padding: 0px;
}

body{
	
}

.page{
	position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
	/* border: 10px solid orange;
    background-color: #f2f2f2; */
	background-image: url("../img/bg.jpg");
	background-size: cover;
}

.mid_box{
	background-color: #ffffff80;
	border-radius: 8px;
	width: 50%;
	height: 70%;
	margin: 7% auto;
	box-shadow: 0 2px 16px #00000040;
}

.mid_box_margin{
	margin:	5%;

}

input {
	border-radius: 8px;
	padding: 10px;
	border: none;
	box-shadow: 0 2px 16px #00000040;
	transition-duration: 200ms;
}

input:focus {
	outline: none;
	box-shadow: 0 2px 24px #00000080;
}